.logo{
	top: -72px;
	left: 16px;
	width: 200px;
	height: 224px;
	background: url(../img/homepage/logo.png);
	z-index: 40;
	animation: logo_frames 80s;
    -moz-animation: logo_frames 80s; /* Firefox */   
    -webkit-animation: logo_frames 80s; /* Safari and Chrome */
    -o-animation: logo_frames 80s; /* Opera */
}

.cloud1{
	top: 200px;
	left: 40px;
	width: 149px;
	height: 84px;
	background: url(../img/homepage/cloud-1.png);
	z-index: 40;
}

.cloud2{
	top: 50px;
	left: 306px;
	width: 78px;
	height: 53px;
	background: url(../img/homepage/cloud-2.png);
	z-index: 30;
/*	animation: cloud2_frames 20s;
    -moz-animation: cloud2_frames 20s; 
    -webkit-animation: cloud2_frames 20s; 
    -o-animation: cloud2_frames 20s; */
}

.cloud3{
	top: 80px;
	left: 800px;
	width: 116px;
	height: 72px;
	background: url(../img/homepage/cloud-3.png);
	z-index: 20;
}

.bird{
	top: 50px;
	left: 500px;
	width: 97px;
	height: 78px;
	background: url(../img/homepage/blue-bird.png);
	z-index: 50;
}

.hill{
	top: 62px;
	left: 161px;
	width: 702px;
	height: 259px;
	background: url(../img/homepage/grass-background.png);
	z-index: 10;
}

.grey_rock1{
	top: 270px;
	left: 71px;
	width: 192px;
	height: 100px;
	background: url(../img/homepage/grass-1.png);
	z-index: 20;
}


.grey_rock2{
	top: 250px;
	left: 590px;
	width: 168px;
	height: 83px;
	background: url(../img/homepage/grass-3.png);
	z-index: 30;
}

.grey_rock3{
	top: 415px;
	left: 590px;
	width: 153px;
	height: 80px;
	background: url(../img/homepage/grass-4.png);
	z-index: 80;
}


.green_rock1{
	top: 324px;
	left: 158px;
	width: 175px;
	height: 91px;
	background: url(../img/homepage/grass-2.png);
	z-index: 40;
}

.green_rock2{
	top: 277px;
	left: 670px;
	width: 141px;
	height: 78px;
	background: url(../img/homepage/grass-5.png);
	z-index: 60;
}

.grass1{
	top: 515px;
	left: 150px;
	width: 114px;
	height: 27px;
	background: url(../img/homepage/small-grass-1.png);
	z-index: 20;
}

.grass2{
	top: 324px;
	left: 737px;
	width: 155px;
	height: 31px;
	background: url(../img/homepage/small-grass-2.png);
	z-index: 50;
}

.grass3{
	top: 475px;
	left: 587px;
	width: 155px;
	height: 31px;
	background: url(../img/homepage/small-grass-2.png);
	z-index: 90;
}

.recruit{
	top: 338px;
	left: 304px;
    z-index: 30;

}

.character1{
	width: 101px;
	height: 74px;
	background: url(../img/homepage/character-blue.png);
}

.stick1{
	top: -40px;
	left: 86px;
	width: 16px;
	height: 124px;
	background: url(../img/homepage/stick.png);
	z-index:-1;
}

.poster1{
	top: -73px;
	left: 10px;
	width: 174px;
	height: 63px;
	background: url(../img/homepage/board.png);
	z-index: 1;
}

.production{
	top: 430px;
	left: 516px;  
	z-index: 70;

}

.character2{
	width: 104px;
	height: 76px;
	background: url(../img/homepage/character-red.png);
}

.stick2{
	top: -56px;
	left: -6px;
	width: 16px;
	height: 124px;
	background: url(../img/homepage/stick.png);
	z-index:-1;
}

.stick22{
	top: -56px;
	left: 92px;
	width: 16px;
	height: 124px;
	background: url(../img/homepage/stick.png);
	z-index:-1;
}

.poster2{
	top: -90px;
	left: -31px;
	width: 174px;
	height: 63px ;
	background: url(../img/homepage/board.png);
	z-index: 1;
}

.cooperator{
	top: 239px;
	left: 524px;  
	z-index:15;
}

.character3{
	width: 85px;
	height: 94px;
	background: url(../img/homepage/character-yellow.png);
}

.stick3{
	top: -43px;
	left: 31px;
	width: 16px;
	height: 124px;
	background: url(../img/homepage/stick.png);
	z-index:-1;
}

.poster3{
	top: -90px;
	left: -45px;
	width: 174px;
	height: 63px;
	background: url(../img/homepage/board.png);
	z-index: 1;
}

.about{
	top: 264px;
	left: 772px;  
	z-index:40;
}

.character4{
	width: 88px;
	height: 81px;
	background: url(../img/homepage/character-green.png);
}

.stick4{
	top: -43px;
	left: 31px;
	width: 16px;
	height: 124px;
	background: url(../img/homepage/stick.png);
	z-index:-1;
}

.poster4{
	top: -90px;
	left: -45px;
	width: 174px;
	height: 63px;
	background: url(../img/homepage/board.png);
	z-index: 1;
}

.character5{
	top: 500px;
	left: 320px;
	width: 52px;
	height: 74px;
	background: url(../img/homepage/small-chicken.png);
}

.cloud{
    animation-timing-function:linear;
    -moz-animation-timing-function:linear; /* Firefox */
    -webkit-animation-timing-function:linear; /* Safari and Chrome */
    -o-animation-timing-function:linear; /* Opera */
    animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite; /* Firefox */
    -webkit-animation-iteration-count:infinite; /*Safari and Chrome*/
    -o-animation-iteration-count:infinite; /* Opera */
}
.element{
	position: absolute;
	-moz-background-size:100%; /* Firefox 3.6 */
	-webkit-background-size:100%;
    background-size:100%;
	background-repeat: no-repeat;
}


/*animation frames for cloud2*/
@keyframes cloud2_frames{
	0% {
		left: 450px;
		opacity:1;
	}

	40%{
		left:850px;
		opacity:1;
	}

	50%{
        left:900px;
        opacity:0;
	}

	51% {
		left: 0px;
		opacity:0;
	}

	60%{
		left: 50px;
		opacity:1;
	}

	100%{
		left: 450px;
		opacity:1;
	}


}

@-moz-keyframes cloud2_frames{
	0% {
		left: 450px;
		opacity:1;
	}

	40%{
		left:850px;
		opacity:1;
	}

	50%{
        left:900px;
        opacity:0;
	}

	51% {
		left: 0px;
		opacity:0;
	}

	60%{
		left: 50px;
		opacity:1;
	}

	100%{
		left: 450px;
		opacity:1;
	}


}

@-webkit-keyframes cloud2_frames{
	0% {
		left: 450px;
		opacity:1;
	}

	40%{
		left:850px;
		opacity:1;
	}

	50%{
        left:900px;
        opacity:0;
	}

	51% {
		left: 0px;
		opacity:0;
	}

	60%{
		left: 50px;
		opacity:1;
	}

	100%{
		left: 450px;
		opacity:1;
	}


}

@-o-keyframes cloud2_frames{
	0% {
		left: 450px;
		opacity:1;
	}

	40%{
		left:850px;
		opacity:1;
	}

	50%{
        left:900px;
        opacity:0;
	}

	51% {
		left: 0px;
		opacity:0;
	}

	60%{
		left: 50px;
		opacity:1;
	}

	100%{
		left: 450px;
		opacity:1;
	}


}
}